In [1]:
import boto3
from fastparquet import ParquetFile
import pandas as pd

In [2]:
file_path = "your_path_to_data/adobe/data/part-00000-52f7d874-6802-44d3-a352-0436cead1733-c000.snappy.parquet"

In [3]:
df = pd.read_parquet(file_path, engine="fastparquet")

In [4]:
df.head()

,uuid,encodedTraits.type,encodedTraits.size,encodedTraits.indices,encodedTraits.values
0,0000098c-f829-54c4-9de8-e5ffc177f579,0,5197,[800],[1.0]
1,000012a0-3f40-57f2-adae-028b63617015,0,5197,"[800, 2268, 4199, 4265, 4269, 4413, 5057]","[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]"
2,000025e4-1b7d-552c-95e6-c1775b359282,0,5197,"[3, 11, 28, 51, 54, 327, 340, 347, 363, 393, 3...","[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, ..."
3,00003fd5-2cd3-5914-999b-807b2136c994,0,5197,"[800, 2268, 4199, 4265, 4280, 4413, 4992]","[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]"
4,00008e8e-3132-5267-a5ac-96368223f26e,0,5197,"[800, 2268, 4199, 4265, 4274, 4413, 4904]","[1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]"